# Xcode
.DS_Store
*.xcodeproj
xcuserdata/
*.xcworkspace
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (not used, but just in case)
Pods/
*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other
*.log
*.dSYM.zip
*.dSYM
